<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProyectoFinalv2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProyectoFinalv2AW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE2E25E31D4E584D001910BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDA3F591D3CE040009E6597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDA3F701D3CE040009E6597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDA3F7B1D3CE040009E6597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
